In [1]:
# assignment_data_.structures #

In [2]:
#1# reverse sting
s = "hello ram" [::-1]
print (s)

mar olleh

In [3]:
#2# count  vowels
alpha = "dkeinusah"
vowels = "aieou"
count = sum(alpha.count(vowel) for vowel in vowels)
print((count))

4

In [4]:
#3# palindrome check  code
def ispalindrome (s) :
  return s == s [::-1]

s = "nurses run"
ans = ispalindrome(s)
if ans:
  print ("Yes")
else :
  print ("No")

No

In [5]:
ram_says = " rain in city  stay in  stadium "
x = "ain " in ram_says
print(x)

True

In [6]:
#4#check two string are anagram of each other
str1 = "listen"
str2 = "silent"
is_anagram = lambda  s1 , s2 : all(s1.count(c) == s2.count(c)for c in set (s + s2 ))
if is_anagram ( str1 , str2 ) :
  print ("The two string of anagrams of each other")
else :
  print ("The two string are not anagram of each othe" )

The two string of anagrams of each other

In [7]:
#5# substring occerrence in astring
s= "hello my name is saurab"
s1 ="a"
my_count = s.count(s1)
print("s1 occurs %d times " % my_count)

s1 occurs 3 times

In [8]:
# 6# count repeat character in astrin
str = "shjernsuejsjud"
for i in str :
  print (i, '=',str.count(i),'items')

s = 3 items
h = 1 items
j = 3 items
e = 2 items
r = 1 items
n = 1 items
s = 3 items
u = 2 items
e = 2 items
j = 3 items
s = 3 items
j = 3 items
u = 2 items
d = 1 items

In [9]:
#8# string convert upper case to lowercase
str =" PWSKILLS"
print(str.lower())

 pwskills

In [10]:
#7# find unique character in string .
def isUniquecharacter(s):
  sorted(s)
  for i in range(len(s)-1):
    if s[i]==s[i+1]:
      return False
  return True
s="pwskills"
if isUniquecharacter(s):
  print("the string",s,"contains all unique element")
else :
  print("the string",s,"contains duplicate elements")

the string pwskills contains duplicate elements

In [11]:
#7#
str1 ="pwskills"
str1.isalnum()

True

In [12]:
str2 = "pw skills"
str2.isalnum()

False

In [13]:
#9# count word instring
str1 = "hi my name is saurabh"
word_count = len (str1.split())
print(word_count)

5

In [14]:
#10# concatenate string without using + operator
str1 = [7,3,9]
str2 = [2,5,4]
str1.extend(str2)
print(str1)

[7, 3, 9, 2, 5, 4]

In [15]:
#11# remove all occerrences of aspecific item.
s= [2,4,5,8,6,9,3,6,3,23,24,3,]
frequency =s.count(3)
for i in range(frequency):
  s.remove(3)
print(s)

[2, 4, 5, 8, 6, 9, 6, 23, 24]

In [16]:
#12# find secoun largest numbe
num=[24,56,78,11,34,46]
num.sort()
print(num)
print("secound largest number is:",num[-2])

[11, 24, 34, 46, 56, 78]
secound largest number is: 56

In [17]:
##13# cteate a list and convert into dictionory with there count
from collections import Counter
colors =["blue","red","green","blue","red","brown","green","green","red  " ]
color_counts = Counter  (colors)
print(color_counts)

Counter({'green': 3, 'blue': 2, 'red': 2, 'brown': 1, 'red  ': 1})

In [18]:
#14# reverse liist without using revese function
l=[1,2,3,4,5]
for i in range(len(l)-1,-1,-1):
  print(l[i],end=" ")

5 4 3 2 1

In [19]:
#15# find and revers duplicate item
a = [ 2,4,9,2,9,7,6,8,5,5,2,8]
dup_item = set()
uniq_item = []
for i in   a:
  if i not in dup_item:
    uniq_item.append(i)
    dup_item.add(i)
print(dup_item)
print(a)

{2, 4, 5, 6, 7, 8, 9}
[2, 4, 9, 2, 9, 7, 6, 8, 5, 5, 2, 8]

In [20]:
#16# find ascending ordet and dscending order .
list =[87,2,99,7,9,43,8,86]

list.sort()
print(list)
list.sort(reverse=True )
print(list)

[2, 7, 8, 9, 43, 86, 87, 99]
[99, 87, 86, 43, 9, 8, 7, 2]

In [21]:
#17# merge two sorted list in to one.
list = [1,4,6,9]
t = [7,3,8,2 ]
print(list + t)

[1, 4, 6, 9, 7, 3, 8, 2]

In [23]:
#18# intersection of two different list
a =eval(input('list 1:'))
b =eval(input('list 2:'))
c=[]
for i in a:
  for j in b:
    if i==j:
      c.append(i)
print('COMMON ELEMENT:')
print(c)

list 1: 2,3,4,5,
list 2: 3,2,7,8

COMMON ELEMENT:
[2, 3]

In [24]:
#18# intersection of two different los
a =[2,4,6,8,22,16]
b =[1,3,5,7,9,6,4]
intersec =(set(a)  &  set(b ))
print("intersec of lists:",intersec)

intersec of lists: {4, 6}

In [25]:
 #19# union of two list
 list1 =[3,5,7]
list2 =[9,4,8]
union = (set(list1)  |  set( list2 ))
print("union of lists:",union )

union of lists: {3, 4, 5, 7, 8, 9}

In [26]:
#20# suffle a list randomly
import random
a = [22,33,44,55,66,77,88]
random.shuffle( a )
print(a)

[88, 55, 77, 22, 44, 66, 33]

In [27]:
#21# input two tuple and which cantain both tuple
tup1 = eval(input("enter a tuple :-"))
tup2  = eval(input("enter a tuple :-"))

tup3 = tup1 + tup2
print(tup3)

enter a tuple :- 2,6,4,2
enter a tuple :- 1,3,7,8

(2, 6, 4, 2, 1, 3, 7, 8)

In [28]:
#22# intersect comon integers of both set
set1 ={45,65,75,85,95}
set2 ={24,25,69,75,65,94}
set3 = set1  &  set2
print(set3)

{65, 75}

In [29]:
#23# contains all elements
fruit =('banana','orange','apple')
vegs =('potato','tomato','brinjal ' )
print(fruit + vegs )

('banana', 'orange', 'apple', 'potato', 'tomato', 'brinjal ')

In [30]:
set1 ={'bob','ram','avi','rob'}
set2 ={'rob','shyam','mahi'}
set3 =(set1 ^ set2)
print(set3)

{'mahi', 'avi', 'bob', 'shyam', 'ram'}

In [31]:
#24# create two set and print
set1 ={'bob','ram','avi','rob'}
set2 ={'rob','shyam','mahi'}
set3 =set1  .difference(set2  )
print(set3)

{'avi', 'bob', 'ram'}

In [32]:
#25# update tuple having previous value
x=(34,80)
x={(34,80)}
x.update("7")
x

{(34, 80), '7'}

In [33]:
#26# union of two set
set1 ={45,65,75,85,95}
set2 ={24,25,69,75,65,94}
set3 = set1 | set2
print(set3 )

{65, 69, 75, 45, 85, 24, 25, 94, 95}

In [34]:
#27# find in a tuple max,min value by using
a = (55,77,109,205,533,476,26,598,256,148)
print(max(a))
print(min(a))

598
26

In [35]:
#28# find inthe two  set intersection,union and difference,
s1 ={22,36,47,51,68,74,82,96,35,7,72}
s2 ={29,38,44,53,94,47,5,82,25,36,89}
print (s1 & s2)
print (s1 | s2 )
print (s1 ^ s2)

{82, 36, 47}
{68, 5, 7, 72, 74, 82, 22, 89, 25, 29, 94, 96, 35, 36, 38, 44, 47, 51, 53}
{96, 35, 68, 5, 38, 7, 72, 74, 44, 51, 53, 22, 94, 89, 29, 25}

In [36]:
#29# the function of return occurrence of count elem
a = (55,77,109,205,55,476,205,55,476,109)
i = 0
for e in a:
  if i==a.index(e):
    print(e,' - ',a.count(e))
    i+=1

55  -  3
77  -  1
109  -  2
205  -  2

In [37]:
#30# symetrical difference in two set.
my_fav ={'cricket','football','ludo','chess','tenis' }
friend_fav ={'handball','cricket','swiming','ludo'}
print (my_fav ^ friend_fav)

{'chess', 'swiming', 'handball', 'tenis', 'football'}

In [38]:
#31# write a dictionary ,
d ={"name":"saurabh","email": "ga@gmail.com","contact":"1234"}
d

{'name': 'saurabh', 'email': 'ga@gmail.com', 'contact': '1234'}

In [39]:
d.keys()

dict_keys(['name', 'email', 'contact'])

In [40]:
d.values()

dict_values(['saurabh', 'ga@gmail.com', '1234'])

In [41]:
d.items()

dict_items([('name', 'saurabh'), ('email', 'ga@gmail.com'), ('contact', '1234')])

In [42]:
#32# two dictionory marge with first one .
d1 ={"plname":['ajay','bob','rob']}
d2 ={"match": 'cricket', "start":'16may24'}
d1.update(d2)
d1

{'plname': ['ajay', 'bob', 'rob'], 'match': 'cricket', 'start': '16may24'}

In [43]:
#34# find ascending and dscending order in a dictionory
import operator
d = {5:2,3:4,2:1,1:5}
sorted_d = dict(d.items(), key=operator.itemgetter(1))
print("dictionory in ascending order by valie:", sorted_d)
sorted_d =dict(sorted(d.items(),key=operator.itemgetter(1), reverse=True))
print("dictionory in dscending order by value:", sorted_d)

dictionory in ascending order by valie: {5: 2, 3: 4, 2: 1, 1: 5, 'key': operator.itemgetter(1)}
dictionory in dscending order by value: {1: 5, 3: 4, 5: 2, 2: 1}

In [44]:
##33# nested dictionory
player_id ={
    'SC001':{'name': 'saurabh','sport':'football','playing_day':'monday thursday ' },
    'SC002':{'name': 'shivi','sport':'tennis  ','playing_day':'tuesday  friday ' },
    'SC003':{'name': 'bob ','sport':'cricket ','playing_day':'wednesday  saturday  ' }
}
player_id['SC001']

{'name': 'saurabh', 'sport': 'football', 'playing_day': 'monday thursday '}

In [45]:
player_id['SC003']

{'name': 'bob ', 'sport': 'cricket ', 'playing_day': 'wednesday  saturday  '}

In [46]:
player_id['SC002']

{'name': 'shivi', 'sport': 'tennis  ', 'playing_day': 'tuesday  friday '}

In [47]:
#35# create a invert dictionory and swapping keys and value
d ={
    "empl1":"rony",
    "empl2":"bob",
    "empl3":"rob"
}
print(d)
new_d = {v:k for (k,v) in d.items()}
print(new_d)

{'empl1': 'rony', 'empl2': 'bob', 'empl3': 'rob'}
{'rony': 'empl1', 'bob': 'empl2', 'rob': 'empl3'}